$darkmode: True;
$transparent: False;
$background: $window_bg_color;
$bg: $window_bg_color;
$fg: $window_fg_color;
$bg2: $window_bg_color;
$onBackground: $window_fg_color;
$surface: $card_bg_color;
$surfaceDim: $card_bg_color;
$surfaceBright: $card_fg_color;
$surfaceContainerLowest: $card_bg_color;
$surfaceContainerLow: $card_bg_color;
$surfaceContainer: $card_bg_color;
$surfaceContainerHigh: $card_bg_color;
$surfaceContainerHighest: $card_bg_color;
$onSurface: $card_fg_color;
$surfaceVariant: $card_fg_color;
$onSurfaceVariant: $card_fg_color;
$inverseSurface: $card_fg_color;
$inverseOnSurface: $card_bg_color;
$outline: $headerbar_border_color;
$outlineVariant: $view_bg_color;
$shadow: $shade_color;
$scrim: $shade_color;
$surfaceTint: $primary-fg;
$primary: $primary-fg;
$onPrimary: $view_fg_color;
$primaryContainer: $primary-bg;
$onPrimaryContainer: $view_fg_color;
$inversePrimary: $view_fg_color;
$secondary: $card_bg_color;
$onSecondary: $card_fg_color;
$secondaryContainer: $primary-fg;
$onSecondaryContainer: $card_fg_color;
$error: $error_color;
$onError: $error_fg_color;
$errorContainer: $error_bg_color;
