$darkmode: True;
$transparent: False;
$background: $bg;
$onBackground: $fg;
$surface: $bg1;
$surfaceDim: $bg1;
$surfaceBright: $bg1;
$surfaceContainerLowest: $bg0;
$surfaceContainerLow: $bg1;
$surfaceContainer: $bg2;
$surfaceContainerHigh: $bg3;
$surfaceContainerHighest: $bg4;
$onSurface: $fg;
$surfaceVariant: $fg;
$onSurfaceVariant: $fg4;
$inverseSurface: $fg;
$inverseOnSurface: $bg;
$outline: $bg4;
$outlineVariant: $bg3;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: $primary-fg;
$primary: $primary-fg;
$onPrimary: $fg0;
$primaryContainer: $primary-bg;
$onPrimaryContainer: $fg;
$inversePrimary: $fg;
$secondary: $primary-fg;
$onSecondary: $fg0;
$secondaryContainer: $primary-fg;
$onSecondaryContainer: $fg0;
$error: $red;
$onError: $fg;
$errorContainer: $red_dim;
